*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-container{
    display:flex;
}

body{
    background-color:black;
}
/* common classes */


/* header */

header{
    height:8vh;
}

header #header-wrapper{
    padding:5px;
    justify-content: flex-end;
    align-items: flex-start;

    color:white;
}

/* main */

main{
    height:80vh;
    background-color:gainsboro;
    width:90%;
    margin: 0 auto;
    overflow: auto;
}

main #main-content{
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}

main #main-content .user{
    width:175px;
    height:125px;
    background-color:rosybrown;
    background-image:url(https://picsum.photos/200);
    background-size: contain;
    
    margin-bottom:5px;
    color:white;

    justify-content:flex-start;
    align-items:flex-end;
}

main #main-content .user img{
    width:100%;
    height:100%;
}

/* footer */

footer{
    height:12vh;
    background-color:hotpink;
}