*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:black;
}


/* common classes */

.flex-container{
    display:flex;
}

.settings{
    padding-right:10px;
} 

.fas {
    font-size:1.2rem;
    margin-bottom:5px;
}


.bg-grey{
    background-color:rgb(128, 128, 128, 0.5);
    padding:.3rem .2rem;
    border-radius: 5px;
}

.bg-black{
    background-color:rgba(119, 119, 119, 0.5);
    padding:.3rem .2rem;
}


/* header */

header{
    height:8vh;
}

header #header-wrapper{
    justify-content: flex-end;
    align-items: flex-start;

    color:white;
    padding:5px;
}

header #header-wrapper h5{
    margin-right:8px;
}

header #header-wrapper .fas:first-child{
    margin-right:8px;
}



/* main */

main{
    height:80vh;
    width:90%;
    margin: 0 auto 2vh;
    overflow: auto;
}

main #main-content{
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}

main #main-content .user{
    width:175px;
    height:125px;

    background-image:url(https://picsum.photos/200);
    background-size: cover;
    background-repeat: no-repeat;
    
    margin-bottom:10px; 
    color:white;

    justify-content:flex-start;
    align-items:flex-end;
}

main #main-content .user h4{
    font-weight: 300;
    font-size:0.7rem;
}


/* footer */

footer{
    background-color:rgb(56, 56, 56);
}

footer #footer-container{
    justify-content:space-between;
    height:10vh;
}

footer #footer-container .col{
    padding:20px 15px;
}

/* section video e mic settings */

footer #footer-container #user-settings{
    width:15%;
    color:white;
    text-align: center;

    justify-content:space-evenly;
    align-items:center;
}

footer #footer-container .fa-chevron-up {
    font-size:0.7rem;
}

footer #footer-container #user-settings .setting p{
    font-size:1rem;
}




/* nav bar - user-options */

footer #footer-container #user-options{
    width:50%;
    color:white;
    text-align: center;

    justify-content:space-evenly;
    align-items:center;
}

.active{
    color:#00ff40;
}



/* button end call */

footer #footer-container .col h4{
    margin:auto;
    color:red;
    font-weight:300;
}
